<!doctype html>
<html
  lang="en"
  class="light-style layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/materio-assets/"
  data-template="vertical-menu-template"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title><%= title %> | Tree Shop</title>
    <meta name="description" content="Tree Shop management dashboard using Materio template." />

    <link rel="icon" type="image/x-icon" href="/materio-assets/img/favicon/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="/materio-assets/vendor/fonts/remixicon/remixicon.css" />
    <link rel="stylesheet" href="/materio-assets/vendor/fonts/flag-icons.css" />
    <link rel="stylesheet" href="/materio-assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/materio-assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/materio-assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/materio-assets/css/demo.css" />
    <link rel="stylesheet" href="/materio-assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/materio-assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/admin.css" />

    <script src="/materio-assets/vendor/js/helpers.js"></script>
    <script src="/materio-assets/vendor/js/template-customizer.js"></script>
    <script src="/materio-assets/js/config.js"></script>
  </head>
